@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Outfit:wght@300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: '__AGNext', sans-serif;
  --font-display: '__AGNext', sans-serif;
  --font-agnext: '__AGNext', sans-serif;
}




